<!DOCTYPE html>
<html>
	<head>
		<meta charset="gbk">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>详情页</title>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" type="text/css" href="./source/plugin/bbssdk/h5/portal/theme2/assets/css/style.css">
		<link rel="stylesheet" type="text/css" href="./source/plugin/bbssdk/h5/portal/theme2/assets/css/md.css">
		<script type="text/javascript" src="//f.moblink.mob.com/v2_0_1/moblink.js?appkey=<?php echo $appkey?>"></script>
	</head>
	<body>
    	<div id="details">
    		<!--文章 start-->
    		<div class="article">
    			<div class="article-title"><?php echo $article['title']?></div>
                        <!--作者 start-->
                        <div class="author">
                                <div class="author-left">
                                        <div class="author-info">
                                            <div>作者：<?php echo $article['author']?></div>
                                            <div class='line'><?php echo formatDate($article['dateline'])?></div>
                                        </div>
                                </div>
                            <div class="view"><span><?php echo $article['viewnum']>999?'999+':$article['viewnum']?></span></div>
                        </div>
                        <!--作者 end-->
    			<div class="article-text markdown-body" id="detail_a"><?php echo $article['content']?></div>
<!--    			<ul class="flie-list" v-if="article.attachments!=null">
    				<li v-for="atta in article.attachments">
    					<div class="file-img"><img src="./source/plugin/bbssdk/h5/portal/theme2/assets/images/fileicon-default.png"/></div>
    					<div class="file-name">{{ atta.fileName }}</div>
    					<a href="javascript:;" @click="openAttachment(atta)">{{ atta.isImage==1 ? "打开附件" : "下载附件" }}</a>
    				</li>
    			</ul>-->
                        <div class="bottom">
                            <div class="like1" @click="like(article.aid)">
                                <img src="./source/plugin/bbssdk/h5/portal/theme2/assets/images/like-no.png">
                                喜欢 <?php echo $article['click1']?>
                            </div>
                        </div>
    		</div>
    		<!--文章 end-->
                <!--评论 start-->
                <div id="postTitle"></div>
                <div class="postTitle">全部评论(<?php echo $article['commentnum']?>)</div>
                 <?php if($article['commentnum']):?>
    		<ul class="comment" id="comm">
                    <?php foreach($commentslist as $comment):?>
    			<li v-for="(list,index) in commentList">
                            <?php if($comment['username']):?>
                            <div class="left"><img src="<?php echo $comment['avatar']?>"/></div>
                            <?php endif;?>
                            <div class="right">
                                <div class="comment-name"><?php echo $comment['username']?$comment['username']:'匿名'?></div>
                                <div class="comment-text"><?php echo $comment['message']?></div>
                                <?php if($comment['prePost']):?>
                                <div class="comment-reply-box">
                                    <dl class="comment-reply">
                                        <dd>引用：<?php echo $comment['prePost']['author']?>于<?php echo $comment['prePost']['createdOn']?>发表的：<span><?php echo $comment['prePost']['message']?></span></dd>
                                    </dl>
                                </div>
                                <?php endif;?>
                                <div class="comment-bottom"><?php echo formatDate($comment['dateline'])?></div>
                            </div>
    			</li>
                    <?php endforeach;?>
    		</ul>
                 <?php else:?>
                <div class="bottom-loading"><span ><div class="nomore">暂无评论~</div></span></div>
                <?php endif;?>
    		<!--评论 end-->
    	</div>
		<script type="text/javascript">
            var video = document.getElementsByTagName("iframe");
            var w = document.getElementById("detail_a").offsetWidth;
            for(v in video ){
				video[v].width = w
                video[v].height = w*0.75
            }
			MobLink({
					el: '',
					path: '/portal/detail',
					params: {
						'aid': '<?php echo $article["aid"]?>',
					}
				});
        </script>
	</body>
</html>